* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 26, 73);
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .css-button {
    width: 200px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-radius: 10px;
    background: transparent;
    color: white;
    border: 2px solid rgb(67, 215, 40);
    transition: 0.4s all;
    margin: 20px;

    &:hover {
      transform: translateY(-10px);
      transition: 0.4s all;
    }

    &.active {
      position: relative;
      width: 50px;
      height: 50px;
      animation: activeAnimate 5s;

      &.css-button {
        color: transparent;
      }

      &::before {
        position: absolute;
        content: "";
        width: 28px;
        height: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        font-size: 14px;
        border-radius: 10px;
        border: 2px solid rgb(67, 215, 40);
        transform: translate(-79%, -50%) rotate(45deg);
        background-color: rgb(255, 255, 255);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation: buttonAnuimationCss 5s;
      }

      &::after {
        position: absolute;
        content: "";
        width: 50px;
        height: 0px;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        transform: translate(-7px, -10px) rotate(-45deg);
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(67, 215, 40);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation: afterAnimation 5s;
      }
    }


    &.active-invalid{

      position: relative;
      width: 50px;
      height: 50px;
      animation: activeAnimate 5s;

      &.css-button {
        color: transparent;
        animation: activeAnimate 5s;
        border: 2px solid rgb(237, 45, 38);
      }

      &::before {
        position: absolute;
        content: "";
        width: 28px;
        height: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        font-size: 14px;
        border-radius: 10px;
        border: 2px solid rgb(237, 45, 38);
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: rgb(255, 255, 255);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation: buttonAnuimationCss 5s;
      }

      &::after {
        position: absolute;
        content: "";
        width: 28px;
        height: 0px;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(237, 45, 38);
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        animation: afterAnimation 5s;
      }
      
    } 
  }
}

@mixin animate {
  position: absolute;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  left: 0;
  border: none;
  background-color: transparent;
  transform: translate(0, 0) rotate(0);
  background-color: transparent;
  color: white;
}

@keyframes activeAnimate {
  0% {
    width: 200px;
    height: 70px;
    border: 2px solid rgb(67, 215, 40);
    background-color: transparent;
  }

  90% {
    width: 200px;
    height: 70px;
    border: 2px solid rgb(67, 215, 40);
    background-color: transparent;
  }

  100% {
    width: 50px;
    border: 2px solid rgb(67, 215, 40);
    height: 50px;
  }
}

@keyframes buttonAnuimationCss {
  0% {
    @include animate();
    content: "Please wait.";
  }

  5% {
    @include animate();
    content: "Please wait..";
  }

  10% {
    content: "Please wait...";
    @include animate();
  }

  15% {
    @include animate();
    content: "Please wait..";
  }

  20% {
    @include animate();
    content: "Please wait.";
  }

  25% {
    @include animate();
    content: "Please wait..";
  }

  30% {
    @include animate();
    content: "Please wait..";
  }

  40% {
    @include animate();
    content: "Please wait...";
  }

  50% {
    @include animate();
    content: "Please wait..";
  }

  60% {
    @include animate();
    content: "Please wait.";
  }

  70% {
    @include animate();
    content: "Please wait.";
  }

  80% {
    content: "...";
  }
}

@mixin afterAnimate {
  width: 200px;
  height: 70px;
  content: "";
  background-color: transparent;
}

@keyframes afterAnimation {
  0% {
    opacity: 0;
  }

  99% {
    width: 10px;
    opacity: 0;
  }

  100% {
    width: 50px;
    opacity: 1;
  }
}
